@import url('https://fonts.googleapis.com/css?family=Lato');

html {
    height: 100%;
    overflow: hidden;
}
body {
    color: #fff;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

header {
    box-sizing: border-box;
    min-height: 100vh;
    /* padding: 30vw 0 5vw; */
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

header, header::before {
    background: 50% 50% / cover;
}

header::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url('../img/bg.svg');
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

header h1, header p {
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
    color: black;
}

#navigation {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0;
    background-color: #343A40;
}

#navigation div.row {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: transparent;
    width: 100%;
    margin-left: 0;
}

div.navbar-nav {
    margin-right: -8px;
}

a.nav-item {
    font-size: 14px;
}

#intro {
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#collision svg {
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    #navigation div.row {
        width: 80%;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    #navigation div.row {
        width: 75%;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {


    #intro {
        top: 35%;
    }
    
    #collision svg {
        top: 75%;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
    #navigation div.row {
        width: 65%;
    }

}