@import url('https://fonts.googleapis.com/css?family=Lato');

html {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

header {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

header, header::before {
    background: 50% 50% / cover;
}

header::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url('../img/bg.svg');
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

header h2, header p {
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
}

/* header h2 {
    padding-top: 0;
} */

/* header p {
    padding: 0;
} */

#navigation {
    padding: 0;
    background-color: #343A40;
}

#navigation div.row {
    background-color: transparent;
    width: 100%;
}

nav.navbar {
    padding: 5px 15px;
}

div.navbar-nav {
    margin-right: -8px;
}

button.navbar-toggler {
    padding: 2px;
}

a.nav-item {
    font-size: 14px;
}

#impression {
    margin: 0;
}

#intro {
    margin-top: 4rem;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
    #navigation div.row {
        width: 80%;
    }

    #impression {
        max-width: 100%;
    }

    #intro {
        margin-top: 2rem;
    }

    #visual {
        padding: 0;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    #navigation div.row {
        width: 75%;
    }

    #impression {
        margin-top: 8rem;
    }

    #visual {
        margin-top: 4.5rem;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    #impression {
        margin-top: 4rem;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
    #impression {
        margin-top: 7rem;
    }

    #navigation div.row {
        width: 65%;
    }

}