@import url('https://fonts.googleapis.com/css?family=Lato');

html {
    height: 100%;
}

.parallax-box {
    position: relative;
    height: 100vh;
    background-image: url("../img/bg.svg");
    background-size: auto 100vh;
    background-position: top center;
    background-attachment: fixed;
}

header h2, header p {
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
}

#navigation {
    /* padding: 0; */
    background-color: #343A40;
}

#navigation div.row {
    background-color: transparent;
    /* width: 100%; */
}

nav.navbar {
    padding: 5px 15px;
}

div.navbar-nav {
    margin-right: -8px;
}

button.navbar-toggler {
    padding: 2px;
}

a.nav-item {
    font-size: 14px;
}

#impression {
    margin: 0;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
    #navigation div.row {
        width: 80%;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    #navigation div.row {
        width: 75%;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {


}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
    #navigation div.row {
        width: 65%;
    }

}