.d-flex {
    display: flex!important;
}

.justify-content-between {
    justify-content: space-between!important;
}

.flex-column {
    flex-direction: column!important;
}

.mt-auto {
    margin-top: auto!important;
}

/* .card {
    height: 560px;
} */

.card-content p {
    font-size: small;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

