html {
    height: 100%;
}

body {
    /* color: #9a9a9a; */
    font-size: 1rem;
}

.d-flex {
    display: flex!important;
}

.justify-content-between {
    justify-content: space-between!important;
}

.flex-column {
    flex-direction: column!important;
}

.mt-auto {
    margin-top: auto!important;
}

nav {
    background-color: #607d8b !important;
}

.portfolio-item {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.portfolio-item img {
    display: block;
    width: 100%;
    height: auto;
}

.portfolio-item-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #5F93FB 70%);
}

.portfolio-item:hover .portfolio-item-overlay {
  opacity: 1;
}

.portfolio-item-description {
    position: absolute;
    bottom: 5.8rem;
    left: 4rem;
    font-size: 20px;
    line-height: initial;
    text-align: left;
    color: white;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 600px) { 
    body :not(p) {
        font-size: 1.2rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body :not(p) {
        font-size: 1.4rem;
    }

    .card {
        height: 540px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body :not(p) {
        font-size: 1.6rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}