html {
    height: 100%;
}

body {
    color: #9a9a9a;
}

nav {
    background-color: #607d8b !important;
}

li div.col {
    padding: 0! important;
}



.date-range p {
    text-align: end;
}

#experience {
    list-style: none;
}