@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html {
    height: 100%;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #9a9a9a;
    /* background: #f9f9f9; */
}

nav {
    background-color: #607d8b !important;
}

.text-important {
    color: #161618;
}

.color-accent {
    color: #5a46ff;
}

h3 {
    color: #161618;
    font-weight: 500;
}

.experience-time-place {
    margin: 0;
}

.experience-time-place .col,
.experience-panel .col, 
.experience-pos-des .col {
    padding: 0;
}

.location,
.position h5 {
    color: #161618;
}

.date-range {
    text-align: end;
}

.experience-image img {
    height: 65px;
    width: 65px;
}


/* flexbox for location and date range */
.experience-time-place {
    display: flex!important;
    justify-content: space-between!important;
}

/* flexbox for img, position, and description */
.experience-panel {
    display: flex!important;
    flex-direction: row;
    flex-wrap: wrap;
}

.experience-panel > * {
    flex: 1 0 50%;
}

.experience-panel>div:last-child {
    flex: 0 1 100%;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 600px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .location p,
    .date-range p{
        margin: 0;
    }

    .date-range {
        text-align: start;
    }

    /* flexbox for location and date range */
    .experience-time-place {
        display: block!important;
        justify-content: left!important;
    }

    /* flexbox for img, position, and description */
    .experience-panel {
        display: flex!important;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .experience-panel>div:first-child {
        flex: 1 0 0;
    }

    .experience-panel>div:last-child {
        flex: 0 1 100%;
    }

    /* .experience-image {
        position: absolute;
        height: 50%;
    } */

    /* .position h5, */
    .description p {
        padding-left: 25%;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}