{% extends "layout.html" %} {% block styles %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/contact.css') }}"> {% endblock styles %} {% block nav_items %}
<li>
  <a href="{{ url_for('about') }}">About</a>
</li>
<li>
  <a href="{{ url_for('projects') }}">Projects</a>
</li>
<li class="active">
  <a href="{{ url_for('contact') }}">Contact</a>
</li>
{% endblock nav_items %} {% block collapse_items %}
<li>
  <a href="{{ url_for('about') }}">About</a>
</li>
<li>
  <a href="{{ url_for('projects') }}">Projects</a>
</li>
<li class="active">
  <a href="{{ url_for('contact') }}">Contact</a>
</li>
{% endblock collapse_items %} {% block main %}
<div style="height: 1000px;"></div>
{% endblock main %} {% block scripts %} {% endblock scripts %}