{% extends "layout.html" %} {% block styles %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/main.css') }}"> {% endblock styles %} {% block nav_items %}
<li>
  <a href="{{ url_for('projects') }}">Projects</a>
</li>
<li>
  <a href="{{ url_for('resume') }}">Resume</a>
</li>
<li>
  <a href="{{ url_for('home') }}">Contact</a>
</li>
{% endblock nav_items %} {% block collapse_items %}
<li>
  <a href="{{ url_for('projects') }}">Projects</a>
</li>
<li>
  <a href="{{ url_for('resume') }}">Resume</a>
</li>
<li>
  <a href="{{ url_for('home') }}">Contact</a>
</li>
{% endblock collapse_items %} {% block home_header %}
<div class="parallax-box valign-wrapper center-align">
  <div id="impression" class="container">
    <h2>I'm Justin,</h2>
    <p>I look at data!</p>
    <div id="visual">
      <div id="collision" class="center-align"></div>
    </div>
  </div>
</div>
{% endblock home_header %} {% block main %}
<div class="container center-align">
  <div class="row">
    <div class="col s12">
      <img src="{{ url_for('static', filename='img/portrait.jpg') }}">
      <h3>Hi.</h3>
      <p>I'm a data analyst / developer based in Irvine, California. I have a passion for learning new technologies and love
        to create data visualizations and robust applications.</p>
    </div>
  </div>
</div>
<div class="container center-align">
  <div class="row">
    <div class="col s12">
      <h3>What I can do.</h3>
      <p>Insert Data Visualization Here</p>
    </div>
  </div>
</div>
<div style="height: 1000px;"></div>
{% endblock main %} {% block script %}
<script src="//d3js.org/d3.v3.min.js"></script>
<script src="{{ url_for('static', filename='js/collide.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script> {% endblock script %}