{% extends "layout.html" %} {% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hover-effects/component.css') }}">
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/hover-effects/hover.css') }}">
<script src="{{ url_for('static', filename='js/modernizr.custom.js') }}"></script> {% endblock styles %} {% block nav_items %}
<li>
  <a href="{{ url_for('about') }}">About</a>
</li>
<li class="active">
  <a href="{{ url_for('projects') }}">Projects</a>
</li>
<li>
  <a href="{{ url_for('contact') }}">Contact</a>
</li>
{% endblock nav_items %} {% block collapse_items %}
<li>
  <a href="{{ url_for('about') }}">About</a>
</li>
<li class="active">
  <a href="{{ url_for('projects') }}">Projects</a>
</li>
<li>
  <a href="{{ url_for('contact') }}">Contact</a>
</li>
{% endblock collapse_items %} {% block main %}
<div class="container portfolio">
  <div class="row">
    <div class="col s12 center-align">
      <h4>Projects</h4>
    </div>
  </div>
</div>
<ul class="grid cs-style-4">
  <li>
    <figure>
      <div>
        <img src="{{ url_for('static', filename='img/project-card-imgs/shipstation.PNG') }}" alt="">
      </div>
      <figcaption>
        <h4>Shipstation Live</h4>
        <p>Shipstation dashboard revealing important indicators such as awaiting and on-hold shipments, total number of orders
          this month, and an interactive map of order locations.</p>
        <div class="action-links">
          <!-- <a href="#">Take a look</a> -->
          <a class="valign-wrapper" href="https://github.com/Jayleh/shipstation-live" target="_blank" style="margin: 0;">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </figcaption>
    </figure>
  </li>
  <li>
    <figure>
      <div>
        <img src="{{ url_for('static', filename='img/project-card-imgs/reorder.PNG') }}" alt="">
      </div>
      <figcaption>
        <h4>Reorder Plan</h4>
        <p>Table showing important numbers used in production operations such as low stock counts of products, lead time demand,
          allocated sales quantities, and more.</p>
        <div class="action-links">
          <!-- <a href="#">Take a look</a> -->
          <a class="valign-wrapper" href="https://github.com/Jayleh/reorder-app" target="_blank" style="margin: 0;">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </figcaption>
    </figure>
  </li>
  <li>
    <figure>
      <div>
        <img src="{{ url_for('static', filename='img/project-card-imgs/nfl-dash.PNG') }}" alt="">
      </div>
      <figcaption>
        <h4>NFL Prediction</h4>
        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="action-links">
          <a href="https://six-asians-and-a-shilpasian.herokuapp.com/" target="_blank" class="waves-effect waves-light btn-small">Take a look</a>
          <a class="valign-wrapper" href="https://github.com/Jayleh/nfl-predict" target="_blank" style="margin: 0;">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </figcaption>
    </figure>
  </li>
  <li>
    <figure>
      <div>
        <img src="{{ url_for('static', filename='img/project-card-imgs/belly-button.PNG') }}" alt="">
      </div>
      <figcaption>
        <h4>Belly Button</h4>
        <p>Interactive dashboard investigating a 2011 study of belly button microbe diversity.</p>
        <div class="action-links">
          <a href="https://bellybtn.herokuapp.com" target="_blank" class="waves-effect waves-light btn-small">Take a look</a>
          <a class="valign-wrapper" href="https://github.com/Jayleh/belly-button" target="_blank" style="margin: 0;">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </figcaption>
    </figure>
  </li>
  <li>
    <figure>
      <div>
        <img src="{{ url_for('static', filename='img/project-card-imgs/data-journalism.PNG') }}" alt="">
      </div>
      <figcaption>
        <h4>Data Journalism</h4>
        <p>Interactive visualization showing correlations between demographics and behavioral risk factors.</p>
        <div class="action-links">
          <a href="https://risky-health.herokuapp.com" target="_blank" class="waves-effect waves-light btn-small">Take a look</a>
          <a class="valign-wrapper" href="https://github.com/Jayleh/data-journalism" target="_blank" style="margin: 0;">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </figcaption>
    </figure>
  </li>
  <li>
    <figure>
      <div>
        <img src="{{ url_for('static', filename='img/project-card-imgs/usgs-quake.PNG') }}" alt="">
      </div>
      <figcaption>
        <h4>USGS Quake</h4>
        <p>Earthquake datamap revealing all earthquakes in the past week; it includes location, magnitude, and timestamp.</p>
        <div class="action-links">
          <a href="https://jayleh.github.io/usgs-quake/" target="_blank" class="waves-effect waves-light btn-small">Take a look</a>
          <a class="valign-wrapper" href="https://github.com/Jayleh/usgs-quake" target="_blank" style="margin: 0;">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </figcaption>
    </figure>
  </li>
  <li>
    <figure>
      <div>
        <img src="{{ url_for('static', filename='img/project-card-imgs/mars.PNG') }}" alt="">
      </div>
      <figcaption>
        <h4>Mars Mission</h4>
        <p>Web application that scrapes various websites for data related to the Mission to Mars and displays the information
          in a single HTML page.</p>
        <div class="action-links">
          <!-- <a href="javascript:void(0)" target="_blank" class="waves-effect waves-light btn-small">Take a look</a> -->
          <a class="valign-wrapper" href="https://github.com/Jayleh/mars-mission" target="_blank" style="margin: 0;">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </figcaption>
    </figure>
  </li>
  <li>
    <figure>
      <div>
        <img src="{{ url_for('static', filename='img/project-card-imgs/honey-production.PNG') }}" alt="">
      </div>
      <figcaption>
        <h4>Honey Production</h4>
        <p>Website visualizing historical honey production data through interactive graphs and maps.</p>
        <div class="action-links">
          <a href="https://honeyproduction.herokuapp.com/" target="_blank" class="waves-effect waves-light btn-small">Take a look</a>
          <a class="valign-wrapper" href="https://github.com/Jayleh/honey-production" target="_blank" style="margin: 0;">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </figcaption>
    </figure>
  </li>
</ul>
<div id="github-btn" class="container center-align">
  <a href="https://github.com/Jayleh/" target="_blank" class="btn btn-outline-dark">View All Projects</a>
</div>
{% endblock main %} {% block scripts %}
<script src="{{ url_for('static', filename='js/toucheffects.js') }}"></script> {% endblock scripts %}