{% extends "layout.html" %}
{% block styles %}
  <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/projects.css') }}">
{% endblock styles %}
{% block active_page %}
  <a class="nav-item nav-link active" href="{{ url_for('projects') }}">Projects</a>
  <a class="nav-item nav-link" href="{{ url_for('home') }}">Resume</a>
  <a class="nav-item nav-link" href="{{ url_for('home') }}">Contact</a>
{% endblock active_page %}
{% block main %}
  <div id="projects" class="container d-flex justify-content-center">
    <div class="card-deck">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="{{ url_for('static', filename='img/placeholder-square.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="{{ url_for('static', filename='img/placeholder-square.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <!-- <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="{{ url_for('static', filename='img/placeholder-square.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="{{ url_for('static', filename='img/placeholder-square.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div> -->
    </div>
  </div>
{% endblock main %}
{% block script %}
{% endblock script %}