{% extends "layout.html" %} {% block styles %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/resume.css') }}"> {% endblock styles %} {% block nav_items %}
<li>
  <a href="{{ url_for('projects') }}">Projects</a>
</li>
<li class="active">
  <a href="{{ url_for('resume') }}">Resume</a>
</li>
<li>
  <a href="{{ url_for('home') }}">Contact</a>
</li>
{% endblock nav_items %} {% block collapse_items %}
<li>
  <a href="{{ url_for('projects') }}">Projects</a>
</li>
<li class="active">
  <a href="{{ url_for('resume') }}">Resume</a>
</li>
<li>
  <a href="{{ url_for('home') }}">Contact</a>
</li>
{% endblock collapse_items %} {% block main %}
<div id="about" class="container">
  <h4>About</h4>
  <p class="flow-text">Data controller, specializing in inventory management, sales analytics, and operations. Able to leverage competent data
    exploration, wrangling, and visualization. Looking to build robust applications with a fast-paced and growing company.</p>
</div>
<div id="experience" class="container">
  <h4>Work Experience</h4>
  <ul>
    <li>
      <div class="row experience-time-place">
        <div class="col s6 location">
          <p>Everywhere</p>
        </div>
        <div class="col s6 date-range">
          <p><span>Always</span></p>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <div class="experience-image">
            <img src="#" alt="Image">
          </div>
        </div>
        <div class="col s8">
          <div class="position">
            <h6>Self-learning - From each job, class, co-worker, book, article, meet-up or life experience</h6>
          </div>
        </div>
        <div class="col s12">
          <div class="description">
            <p class="flow-text">This is how I learned 80% of what I know now.</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="row experience-time-place">
        <div class="col s6 location">
          <p>Irvine, CA</p>
        </div>
        <div class="col s6 date-range">
          <p>Dec'17 -
            <span>today</span>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <div class="experience-image">
            <img src="#" alt="Image">
          </div>
        </div>
        <div class="col s8">
          <div class="position">
            <h4>Inventory Specialist &#124; Data Analyst -
              <a href="javascript:void(0)" target="_blank">Cellese</a>
            </h4>
          </div>
        </div>
        <div class="col s12">
          <div class="description">
            <p class="flow-text">Inventory Management: Revamp inventory software, maintain accurate stock counts, reconcile discrepancies and
              provide creative solutions for operations. Programmatic Data Retrieval: Build desktop applications to streamline
              data and projection reporting. Business Analytics: Identify business trends, compile sales analysis reports,
              suggest strategic data-driven decisions based on company KPIs</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <h4>Education</h4>
  <ul>
    <li>
      <div class="row experience-time-place">
        <div class="col s6 location">
          <p>Irvine, CA</p>
        </div>
        <div class="col s6 date-range">
          <p>Jan'18 - Jul'18</p>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <div class="experience-image">
            <img src="#" alt="Image">
          </div>
        </div>
        <div class="col s8">
          <div class="position">
            <h4>Data Analytics &amp; Visualization Bootcamp -
              <a href="javascript:void(0)" target="_blank">UCI Continuing Education</a>
            </h4>
          </div>
        </div>
        <div class="col s12">
          <div class="description">
            <p></p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="row experience-time-place">
        <div class="col s6 location">
          <p>Irvine, CA</p>
        </div>
        <div class="col s6 date-range">
          <p>Sep'09 - Jun'13</p>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <div class="experience-image">
            <img src="#" alt="Image">
          </div>
        </div>
        <div class="col s8">
          <div class="position">
            <h4>Biological Sciences, Bachelor's Degree -
              <a href="javascript:void(0)" target="_blank">Cal Poly SLO</a>
            </h4>
          </div>
        </div>
        <div class="col s12">
          <div class="description">
            <p></p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
{% endblock main %} {% block script %} {% endblock script %}