@import url('https://fonts.googleapis.com/css?family=Amaranth|Roboto|Lato');

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { padding: 0; margin: 0; }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	font-family: 'Amaranth', Calibri, Arial, sans-serif;
	color: #b3b9bf;
	background: #f9f9f9;
}

p,
a,
li {
    font-family: 'Roboto', Calibri, Arial, sans-serif;
}

.brand-logo {
    font-family: 'Amaranth', Calibri, Arial, sans-serif;
}

nav {
    background-color: #607d8b !important;
}

.nav-links li a {
    font-family: 'Lato', Calibri, Arial, san-serif;
    letter-spacing: 1px;
}

figcaption p {
    font-size: 11px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

figcaption a {
	color: #888;
	text-decoration: none;
}

figcaption a:hover,
figcaption a:active {
	color: #333;
}

figcaption {
	display: flex!important;
	flex-direction: column!important;
}

.action-links {
	display: flex!important;
	justify-content: space-between!important;
	margin-top: auto;
}

#github-btn {
	padding: 15px 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 600px) { 
	figcaption p {
		font-size: 14px;
		-webkit-line-clamp: 8;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
   
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    figcaption p {
		-webkit-line-clamp: 7;
	}
}