.code-link a {
  font-family: 'Amaranth', Calibri, Arial, sans-serif;
}

.code-link a {
  color: #00738c;
  font-weight: 700;
}

.code-link {
  font-size: 14px;
}

.social-media i {
  font-size: 24px;
}

.social-media i {
  padding-right: 4px;
}

@media (min-width: 600px) {
  .code-link {
    font-size: 16px;
  }
}
