@import url('https://fonts.googleapis.com/css?family=Amaranth|Roboto|Lato');

@font-face {
  src: url('../../assets/fonts/Luna.ttf');
  font-family: 'Luna';
}

nav {
  background-color: transparent !important;
  box-shadow: 0 0 0 0;
}

.nav-wrapper a,
.sidenav-trigger {
  color: #b0bec5;
}

.nav-links li a {
  font-family: 'Lato', Calibri, Arial, san-serif;
  letter-spacing: 1px;
}

.nav-wrapper {
  z-index: 1;
}

.sidenav-trigger {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.sidenav-trigger:focus {
  background-color: transparent;
}

@media only screen and (min-width: 993px) {
  .sidenav-trigger {
    display: none;
  }
}
