@import url('https://fonts.googleapis.com/css?family=Amaranth|Roboto|Lato');

@font-face {
  src: url('../../assets/fonts/Luna.ttf');
  font-family: 'Luna';
}

nav {
  background-color: transparent !important;
  box-shadow: 0 0 0 0;
}

.nav-wrapper a {
  color: #b0bec5;
}

.nav-links li a {
  font-family: 'Lato', Calibri, Arial, san-serif;
  letter-spacing: 1px;
}

.nav-wrapper {
  z-index: 1;
}
