@import url('https://fonts.googleapis.com/css?family=Amaranth|Roboto|Lato');

html {
  height: 100%;
}

body {
  font-family: 'Amaranth', Calibri, Arial, sans-serif;
}

a,
li,
p {
  font-family: 'Roboto', Calibri, Arial, sans-serif;
}

p {
  color: #424242;
}

.brand-logo,
.code-link a {
  font-family: 'Amaranth', Calibri, Arial, sans-serif;
}

.code-link a {
  color: #00738c;
  font-weight: 700;
}

.code-link {
  font-size: 14px;
}

h3 {
  /* color: #607d8b; */
  color: #00738c;
}

h4 {
  /* color: #90a4ae; */
  color: #81b0b2;
}

.btn,
.btn-large,
.btn-small {
  background-color: rgba(0, 115, 140, 1) !important;
}

.btn:hover,
.btn-large:hover,
.btn-small:hover {
  background-color: rgba(0, 115, 140, 0.8) !important;
}

.row {
  margin-bottom: 0;
}

img {
  height: 150px;
  width: 150px;
}

/* Visual containers */
.chart-container {
  position: relative;
  margin: auto;
  height: 100%;
  width: 100%;
}

/* line break image */
.breaker {
  margin: 0 auto;
  max-width: 100px;
}

.social-media i,
.scroll-top i {
  font-size: 24px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 600px) {
  #impression {
    width: 90%;
    display: flex !important;
    justify-content: space-between !important;
  }

  .chart-container {
    width: 70%;
  }

  .code-link {
    font-size: 16px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #impression {
    width: 70%;
  }

  #impression h2 {
    font-size: 3.2rem;
    padding: 3rem 0;
  }

  #impression p {
    font-size: 1.2rem;
  }

  #impression {
    display: block !important;
    justify-content: unset !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #impression h2 {
    font-size: 3.2rem;
    padding: 3rem 0;
  }

  #impression p {
    font-size: 1.2rem;
  }

  #data,
  #grow {
    display: flex;
    align-items: center;
    padding: 0 75px;
  }

  .chart-container {
    width: 100%;
  }

  .details {
    padding: 0;
    text-align: left;
  }

  #data .details {
    padding-left: 35px;
  }

  #grow .details {
    padding-right: 20px;
  }

  #grow {
    margin: 3rem 0;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
