@import url('https://fonts.googleapis.com/css?family=Amaranth|Roboto|Lato');

html {
  height: 100%;
}

body {
  font-family: 'Amaranth', Calibri, Arial, sans-serif;
}

a,
li,
p {
  font-family: 'Roboto', Calibri, Arial, sans-serif;
}

p {
  color: #424242;
}

.brand-logo {
  font-family: 'Amaranth', Calibri, Arial, sans-serif;
}

h3 {
  color: #00738c;
}

h4 {
  color: #81b0b2;
}

.btn,
.btn-large,
.btn-small {
  background-color: rgba(0, 115, 140, 1) !important;
}

.btn:hover,
.btn-large:hover,
.btn-small:hover {
  background-color: rgba(0, 115, 140, 0.8) !important;
}

.row {
  margin-bottom: 0;
}
